/* Riduce i margini laterali del contenuto principale */
main.content {
  max-width: auto /*1140px;  /* default è ~1140px, puoi abbassarlo anche a 880 o 800 */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gallery img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.30);
}

/* NAVBAR CUSTOMIZATION */
.navbar {
    background-color: #002b36 !important;
  }
  
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: white !important;
    font-weight: 500;
  }
  
  .navbar .nav-link:hover,
  .navbar .navbar-brand:hover {
    color: #77d6ec88 !important; /* light cyan/blue */
  }
  
  /* Optional: active link highlighting */
  .navbar .nav-link.active {
    color: #daeeeeeb !important; /* Bootstrap's warning yellow */
    font-weight: 600;
  }