/* Riduce i margini laterali del contenuto principale */
main.content {
  max-width: auto /*1140px;  /* default è ~1140px, puoi abbassarlo anche a 880 o 800 */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  font-size: 0.9rem;  /* puoi usare anche px, es. 18px */
  font-family: 'Lora', serif;
  color: #EEEEEE;
}

h1 {
  font-size: 1.3rem;  /* puoi usare anche px, es. 18px */
  font-family: 'Lora', serif;
  color: #EEEEEE;
}

h2 {
  font-size: 1.2rem;  /* puoi usare anche px, es. 18px */
  font-family: 'Lora', serif;
  color: #EEEEEE;
}

h3 {
  font-size: 1.1rem;  /* puoi usare anche px, es. 18px */
  font-family: 'Lora', serif;
  color: #EEEEEE;
}

h4 {
  font-size: 1.0rem;  /* puoi usare anche px, es. 18px */
  font-family: 'Lora', serif;
  color: #EEEEEE;
}

h5 {
  font-size: 0.9rem;  /* puoi usare anche px, es. 18px */
  font-family: 'Lora', serif;
  color: #EEEEEE;
}

h6 {
  font-size: 0.7rem;  /* puoi usare anche px, es. 18px */
  font-family: 'Lora', serif;
  color: #EEEEEE;
}

/* Colore dei titoli */
h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

/* Link */
a {
  color: #4ca3dd;
}

a:hover {
  color: #78c3f0;
}